{% extends "skeleton.html" %}
{% block content %}
<div class="back">
<a href="/manage_games"><button class="btn btn-outline-primary" type="submit" >Back</button></a>
</div>
<form method="post" action="edit_games?id={{game.key.id()}}" id="tadd">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" name="name" value="{{game.name}}" id="exampleFormControlInput1" placeholder="Darksouls 3">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Code</label>
    <input type="text" class="form-control" name="code" value="{{game.code}}" id="exampleFormControlInput1" placeholder="0000">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Type</label>
    <input type="text" class="form-control" name="type" value="{{game.type}}" placeholder="Action">
  </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Platform</label>
    <input type="text" class="form-control" name="platform" value="{{game.platform}}" id="exampleFormControlInput1" placeholder="Darksouls 3">
  </div>

  <button class="btn btn-outline-success" type="submit" id ="add">Modify</button>

</form>

{% endblock %}