#navi{
    margin-bottom: 5%;
}

#tjuegos{
    width: 75%;
    margin-left: 12.5%;
}

#tcoments{
    width: 65%;
    margin-left: 17.5%;
    margin-top: 5%;
}

#comenadd{
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 90%;
}

#delcomen{
    margin-left: 95%;
}

#tjuegosdel{
    width: 50%;
    margin-left: 25%;
}

#tadd{
    width: 40%;
    margin-left: 30%;
}

#add{
    float:right;
}

#titulo{
    margin-top: 2%;
    float:left;
}

#logo{
    margin-left: 25%;
}

.confirmacion{
    margin-left: 35%;
}

.addcomnt{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

#btnconf{
    margin-top: 8%;
    margin-left: 15%;
}

.error{
    margin-left: 25%;
}

#btnerror{
    margin-top: 8%;
    margin-left: 25%;
}

.addgames{
    margin-left: 42%;
    margin-bottom: 5%;
}

#delconfir{
    width: 10%;
    margin-left: 65%;
    list-style-type:none;
}

#delno{
    margin-left: 10%;
}

.back{
    margin-left: 20%;
    margin-bottom: 2%;
}

footer{
    margin-left: 22%;
    margin-top: 18%;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

#gold {
  color: grey;
    margin-top: 1%;
    font-size: 30px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

#gold:hover,
#gold:hover ~ #gold {
  color: orange;
}

#goldyes{
    color:orange;
    font-size: 30px;
}

input[type="radio"]:checked ~ #gold {
  color: orange;
}

.aceptable{
    display: inline-block;

}